---
Checks: '*,
         -fuchsia-*,
         -google-*,
         -zircon-*,
         -abseil-*,
         -modernize-use-trailing-return-type,
         -llvm-*,
         -clang-diagnostic-c++17-extensions,
         -misc-unused-parameters'
         -cppcoreguidelines-pro-type-vararg
         -cppcoreguidelines-pro-bounds-pointer-arithmetic
WarningsAsErrors: '*'
