name: CI

on:
  push:
    branches:
      - '*'
      - '!master'

jobs:
  build x86_64:
    runs-on: ubuntu-18.04
    steps:
      - name: git checkout
        uses: actions/checkout@v2
      - name: build
        env:
          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
          DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
        run: |
          docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASS

          make build_dependencies_x86_64 TAG=${GITHUB_REF##*/}_${GITHUB_RUN_NUMBER} \
                                         FROM_TAG=latest \
                                         CACHE_TAG=latest
          make build_x86_64 TAG=${GITHUB_REF##*/}_${GITHUB_RUN_NUMBER} \
                                    BUILD_TYPE=testing \
                                    CACHE_TAG=latest
  build arm64:
    runs-on: ubuntu-18.04
    steps:
      - name: git checkout
        uses: actions/checkout@v2
      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu binfmt-support qemu-user-static
      - name: build
        env:
          DOCKERHUB_USER: ${{ secrets.DOCKERHUB_USER }}
          DOCKERHUB_PASS: ${{ secrets.DOCKERHUB_PASS }}
        run: |
          docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASS

          make build_dependencies_arm64 TAG=${GITHUB_REF##*/}_${GITHUB_RUN_NUMBER} \
                                         FROM_TAG=latest \
                                         CACHE_TAG=latest
          make build_arm64 TAG=${GITHUB_REF##*/}_${GITHUB_RUN_NUMBER} \
                                    BUILD_TYPE=testing \
                                    CACHE_TAG=latest
